<ng-template #bigScreen>
    <div class="appMain">

        <div class="subConatiner" fxLayout="columns wrap" fxLayoutAlign="center center">
            <div class="leftSub" fxLayout="columns wrap" fxLayoutAlign="center center">
                <div id="okta-signin-container"></div>
            </div>
            <div class="rightSub">
            </div>
        </div>

    </div>
</ng-template>
<!-- ************************* SMALL SCREEN ************************* -->
<!-- ************************* SMALL SCREEN ************************* -->
<ng-template [ngIf]="smallScreen" [ngIfElse]="bigScreen">
    <div class="appMain">
        <div class="subConatiner" fxLayout="columns wrap" fxLayoutAlign="center center">
            <div id="okta-signin-container"></div>
        </div>
    </div>
</ng-template>