/* You can add global styles to this file, and also import other style files */
body {
    color: #FFFFFF;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    background-image: url("./assets/bg-cloud-v2.png");
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 0px !important;
    margin: 0px !important;
}


// ********** Main CSS **********
// ********** Main CSS **********
// ********** Portrait **********
@media (orientation: portrait) {
    .appMain {
        height: 100vh;
        width: 100vw;
        padding: 5% !important;
    }

    #okta-signin-container {
        margin-top: 10% !important;
    }

    #okta-sign-in .button,
    #okta-sign-in .button.link-button {
        background: #CC8A00 !important;
        color: #FFFFFF !important;
    }

    #okta-sign-in.auth-container .okta-verify-authenticator {
        background-image: none !important;

    }

    .okta-verify-container {
        text-align: center !important;

    }

    .icon,
    .okta-verify-authenticator {
        display: none !important;
    }

    .userName {
        position: fixed !important;
        top: 2% !important;
        // left: 2% !important;
    }

    .appContainer {
        // border-style: solid;
        width: 95% !important;
        height: 85% !important;
        overflow-y: auto !important;
    }

    #toolBar {
        .p-dock {
            position: fixed !important;
            padding: 0px !important;

            .p-dock-action {
                height: 7vh;
                padding: 0px !important;
            }
        }

        .p-dock-list {
            padding: 0px !important;
        }

        .p-dock-list-container {
            display: block;
            pointer-events: auto;
            padding: 0px !important;
        }

        .p-dock {
            .p-dock-item {
                padding: 0px !important;
            }
        }
    }

    #appButton {
        .p-button {
            background-color: transparent !important;
            text-transform: uppercase !important;
            border-radius: 0px !important;
            margin: 10px !important;
            border-left: none !important;
            border-right: none !important;
            border-color: #ffffff !important;
            width: 35vw !important;
            height: 10vh !important;
            font-size: 10px !important;
        }
    }

    #appButton {
        .p-button:hover {
            cursor: pointer !important;
        }
    }
}

// ********** Landscape **********
@media (orientation: landscape) {
    .appMain {
        height: 100vh !important;
        width: 100vw !important;

    }

    .subConatiner {
        // border-style: solid !important;
        height: 100%;
        width: 100%;
    }

    .leftSub {
        // border-style: solid !important;
        width: 35% !important;
        height: 100% !important;
        -webkit-backdrop-filter: blur(70px) !important;
        backdrop-filter: blur(70px) !important;
        background: #191919 !important;
    }

    .rightSub {
        // border-style: solid !important;
        width: 65% !important;
        height: 100% !important;
    }

    #okta-sign-in .button,
    #okta-sign-in .button.link-button {
        background: #191919 !important;
        color: #FFFFFF !important;
    }

    #okta-sign-in.auth-container .okta-verify-authenticator {
        background-image: none !important;

    }

    .okta-verify-container {
        text-align: center !important;

    }

    .icon,
    .okta-verify-authenticator {
        display: none !important;
    }

    .appContainer {
        border-style: solid;
        width: 90% !important;
        height: 75% !important;
        overflow-y: auto !important;
        // /* Hide scrollbar for Chrome, Safari and Opera */
        // /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .appContainer::-webkit-scrollbar {
        display: none;
    }

    #appButton {
        .p-button:hover {
            cursor: pointer !important;
        }
    }

    .userName {
        position: fixed !important;
        bottom: 5% !important;
        left: 2% !important;
    }

    #toolBar {

        .p-dock {

            position: fixed !important;

            .p-dock-action {
                height: 7vh;
            }
        }

        .p-dock {
            .p-dock-item {
                padding: 0px !important;
            }
        }
    }

    #appButton {
        .p-button {
            background-color: transparent !important;
            text-transform: uppercase !important;
            border-radius: 0px !important;
            margin: 10px !important;
            border-left: none !important;
            border-right: none !important;
            border-color: #ffffff !important;
            width: 20vw !important;
            height: 10vh !important;
            font-size: 12px !important;
            font-size: 12px !important;
            -webkit-backdrop-filter: blur(7px) !important;
            backdrop-filter: blur(7px) !important;
        }

    }

    #appButton {
        .p-button:hover {
            color: #CC8A00 !important;
            // background-color: darkgrey !important;
            // text-transform: uppercase !important;
            // border-radius: 0px !important;
            // margin: 10px !important;
            // border-left: none !important;
            // border-right: none !important;
            // border-color: #ffffff !important;
            // width: 20vw !important;
            // height: 10vh !important;
            // font-size: 12px !important;
            // font-size: 12px !important;
            // -webkit-backdrop-filter: blur(7px) !important;
            // backdrop-filter: blur(7px) !important;
        }

    }

    .timeDiv {
        text-align: center !important;
    }

    #timePanel {
        .p-card {
            width: 20vw !important;
            background-color: transparent !important;
            -webkit-backdrop-filter: blur(7px) !important;
            backdrop-filter: blur(7px) !important;
            color: #FFFFFF!important;
            box-shadow:none!important;
            border-radius: 0px !important;
            margin: 10px !important;
            border-left: none !important;
            border-right: none !important;
            border-color: #ffffff !important;
            border-top-style: solid!important;
            border-top-width: 1px!important;
            border-bottom-style: solid!important;
            border-bottom-width: 1px!important;
        }

        .p-card .p-card-body {
            padding: 0rem !important;
        }

        .p-card .p-card-content {
            padding: .25rem !important;
        }
    }

    .location {
        font-size: 18px !important;
        text-transform: uppercase !important;
        font-weight: bold;
    }

}

// ********** Main CSS **********
// ********** Main CSS **********



#okta-sign-in {
    // margin-top: 0px !important;
    // width: 400px !important;
}

.auth-container {
    -webkit-backdrop-filter: blur(70px) !important;
    backdrop-filter: blur(70px) !important;
    background: transparent !important;
    border-top: 2px solid rgba(225, 225, 225, 0.3);
    border-left: 2px solid rgba(225, 225, 225, 0.1);
    border-right: 1px solid rgba(225, 225, 225, 0.2);
}

.auth-container,
.main-container,
.no-beacon {
    background: transparent !important;
    color: #ffffff !important;
}

.okta-form-title,
.o-form-head {
    color: #ffffff !important;
}

.okta-form-label,
.o-form-label {
    color: #ffffff !important;
}

#okta-sign-in .sign-in-with-device-option .separation-line:before {
    border-top: none !important;
}

#okta-sign-in {
    .separation-line {
        background: transparent !important;
        font-size: 13px;
    }

    .separation-line span {
        color: #ffffff !important;
        background: transparent !important;
    }
}

#okta-sign-in .siw-main-footer .auth-footer .link {
    color: #ffffff !important;
}

.okta-form-infobox-error,
.infobox,
.infobox-error {
    color: red !important;
}

#okta-sign-in {
    .o-form {
        .input-fix {
            color: #6e6e78 !important;
        }
    }
}

#okta-sign-in .auth-header {
    border: none !important;
    padding-top: 0px !important;

}

#okta-sign-in {
    border-width: 0px !important;
    height: auto;
    // MOVES WIDGET TO LEFT
    margin: 0px !important;
}

#okta-sign-in.auth-container .button-primary {
    color: #FFFFFF;
    background-color: #CC8A00 !important;
    background: #CC8A00 !important;
    border-color: #CC8A00 !important;
}

#okta-sign-in.auth-container h3 {
    color: #ffffff !important;
}

#okta-sign-in.auth-container .okta-form-subtitle {
    color: #ffffff !important;
}

#okta-sign-in.auth-container.main-container {
    background-color: #fff;
    border-color: #ddd #ddd #d8d8d8;
    box-shadow: none !important;
}

#toolBar {
    .p-dock {
        .p-dock-action {
            color: #FFFFFF !important;
        }
    }
}

.menuHead {
    width: 100%;
    // border-style: solid;
    text-align: center !important;
}