<ng-template #bigScreen>

    <div class="appMain" fxLayout="columns wrap" fxLayoutAlign="center center">
        <app-dock></app-dock>
        <div class="appContainer">

            <div class="menuHead">
                <h2>Bookmarks</h2>
            </div>
            <div *ngIf="dataLoaded; else notShow" fxLayout="row wrap">
                <p-table #dt1 [value]="myBookmarks" selectionMode="single" [(selection)]="selectedRow"
                    (onRowSelect)="openWebsite($event)" [globalFilterFields]="['description','category','siteURL']">
                    <ng-template pTemplate="caption">
                        <div fxLayoutAlign="start center">
                            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                                (click)="clear(dt1)"></button>
                            <input pInputText type="text" id="searchField"
                                (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search keyword">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="thDesc">Description</th>
                            <th class="thCat">Category</th>
                            <th class="thCat">URL</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr [pSelectableRow]="product">
                            <td>{{product.description}}</td>
                            <td>{{product.category}}</td>
                            <td>{{product.siteURL}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <ng-template #notShow>
            <div fxLayout="row wrap" fxLayoutAlign="center center">
                <p-progressSpinner></p-progressSpinner>
            </div>
        </ng-template>
        <div class="userName">{{strFullName}}</div>
    </div>

</ng-template>
<!-- ************************* SMALL SCREEN ************************* -->
<!-- ************************* SMALL SCREEN ************************* -->
<ng-template [ngIf]="smallScreen" [ngIfElse]="bigScreen">
    <div class="appMain" fxLayout="rows wrap" fxLayoutAlign="center center">
        <app-dock></app-dock>
        <div class="appContainer" fxLayout="rows wrap" fxLayoutAlign="center start">

            <div class="menuHead">
                <h2>Bookmarks</h2>
            </div>
            <div *ngIf="dataLoaded; else notShow" fxLayout="row wrap">
                <p-table #dt1 [value]="myBookmarks" selectionMode="single" [(selection)]="selectedRow"
                    (onRowSelect)="openWebsite($event)" [globalFilterFields]="['description','category','siteURL']">
                    <ng-template pTemplate="caption">
                        <div fxLayoutAlign="start start">
                            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                                (click)="clear(dt1)"></button>
                            <input pInputText type="text" id="searchField"
                                (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search keyword">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="thDesc">Description</th>
                            <th class="thCat">Category</th>
                            <th class="thURL">URL</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr [pSelectableRow]="product">
                            <td>{{product.description}}</td>
                            <td>{{product.category}}</td>
                            <td class="tdURL">{{product.siteURL}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </div>
        <ng-template #notShow>
            <div fxLayout="row wrap" fxLayoutAlign="center center">
                <p-progressSpinner></p-progressSpinner>
            </div>
        </ng-template>
        <div class="userName">{{strFullName}}</div>
    </div>
</ng-template>