<ng-template #bigScreen>

    <div class="appMain" fxLayout="columns wrap" fxLayoutAlign="center center">
        <app-dock></app-dock>
        <div class="appContainer" fxLayout="row wrap" fxLayoutAlign="center start">

            <div class="menuHead">
                <h2>Bookmarks</h2>
            </div>

            <div class="searchDiv">
                <input type="text" pInputText id="searchTexField" [(ngModel)]="searchText">
            </div>

            <!-- <p-button label="{{menuItem.description}}" (click)="MenuListService.Goto(menuItem.strUri)"
                *ngFor="let menuItem of myBookmarks" id="bookmarkButton">
            </p-button> -->

            <div class="bookMarkDiv" *ngFor="let menuItem of myBookmarks" (click)="MenuListService.Goto(menuItem.siteURL)">
                {{menuItem.description}}
            </div>

        </div>
        <div class="userName">{{strFullName}}</div>
    </div>

</ng-template>
<!-- ************************* SMALL SCREEN ************************* -->
<!-- ************************* SMALL SCREEN ************************* -->
<ng-template [ngIf]="smallScreen" [ngIfElse]="bigScreen">
    <div class="appMain" fxLayout="rows wrap" fxLayoutAlign="center center">
        <app-dock></app-dock>
        <div class="appContainer" fxLayout="rows wrap" fxLayoutAlign="center start">

            <div class="menuHead">
                <h2>Bookmarks</h2>
            </div>

            <div class="searchDiv">
                Search : <input type="text" pInputText id="searchTexField" [(ngModel)]="searchText">
            </div>


        </div>
        <div class="userName">{{strFullName}}</div>
    </div>
</ng-template>